/*240*/

#menu_1 {
	display: flex;
}
#menu_1 a {
	margin-right: 5px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid #1dda17;
	background-color: #1dda17;
}
#menu_1 a:hover, #menu_1 a.active {
	color: #1dda17;
	border: 1px solid #1dda17;
	background-color: white;
}

#menu_2 {
	display: flex;
    flex-direction: column;
    width: 300px;
}
#menu_2 a {
	margin: 0 5px 10px 0;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid #1dda17;
	background-color: #1dda17;
}
#menu_2 a:hover, #menu_2 a.active {
	color: #1dda17;
	border: 1px solid #1dda17;
	background-color: white;
}

#menu_3 {
	display: flex;
    width: 300px;
}
#menu_3 a {
    padding: 5px 60px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid #1dda17;
	background-color: #1dda17;
}
#menu_3 a:hover, #menu_3 a.active {
	color: #1dda17;
	border: 1px solid #1dda17;
	background-color: white;
}