/*240*/

#menu_1 {
	display: flex;
}
#menu_1 a {
	margin-right: 5px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid #1dda17;
	background-color: #1dda17;
}
#menu_1 a:hover, #menu_1 a.active {
	color: #1dda17;
	border: 1px solid #1dda17;
	background-color: white;
}

#menu_2 {
	display: flex;
    flex-direction: column;
    width: 300px;
}
#menu_2 a {
	margin: 0 5px 10px 0;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid #1dda17;
	background-color: #1dda17;
}
#menu_2 a:hover, #menu_2 a.active {
	color: #1dda17;
	border: 1px solid #1dda17;
	background-color: white;
}

#menu_3 {
	display: flex;
    width: 300px;
}
#menu_3 a {
    padding: 5px 60px;
	font: 15px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid #1dda17;
	background-color: #1dda17;
}
#menu_3 a:hover, #menu_3 a.active {
	color: #1dda17;
	border: 1px solid #1dda17;
	background-color: white;
}

/*241_1*/

#wrapper_1 {
    width: 700px;
    margin: 50px auto;
    text-align: justify;
    border: 1px solid black;
}

#content_1 h1 {
    text-align: center;
    margin-bottom: 10px;
}
#content_1 p {
    padding: 0 10px;
    margin-bottom: 5px;
    font: 17px/20px "Times New Roman";
}

#content_1 a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}
#content_1 a:hover {
    color: green;
    text-decoration: underline;
}

#menu_4 {
    display: flex;
    margin-bottom: 20px;
    background-color: #484848;
}
#menu_4 a {
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    font: bold 14px Arial;
}
#menu_4 a:hover, #menu_4 a.active {
    color: #484848;
    background-color: #fff;
}

/*241_2*/

#wrapper_2 {
    width: 900px;
    margin: 0 auto 50px;
}
#containter_2 {
    margin-bottom: 20px;
    border-left: 1px ridge #FC9D00;
    border-right: 1px ridge #FC9D00;
    border-bottom: 1px ridge #FC9D00;
}

#menu_5 {
    display: flex;
    background-color: #FC9D00;
    margin-bottom: 20px;
}
#menu_5 a {
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font: bold 15px Arial;
}
#menu_5 a:hover, #menu a.active {
    color: #FC9D00;
    background-color: #fff;
}

#content_2 h1, #content_2 h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #9B6100;
}
#content_2 h1 {
    font: 30px "Times New Roman";
}
#content_2 h2 {
    font: 25px "Times New Roman";
}
#content_2 p {
    margin-bottom: 5px;
    padding: 0 10px;
    font: 17px/33px "Times New Roman";
    text-align: justify;
    text-indent: 50px;
    color: #CC8000;
}
#content_2 a {
    color: #CC8000;
    text-decoration: underline;
    font-weight: bold;
}
#content_2 a:hover{
    color: black;
    text-decoration: none;
}

#footer_2 {
    display: flex;
    justify-content: center;
    font: 13px Arial;
}
#footer_2 a {
    margin: 0 10px;
    text-decoration: none;
    color: #9B6100;
    font: bold 13px Arial;
}
#footer_2 a:hover, #footer_2 a.task_241_2 {
    text-decoration: underline;
    color: black;
}

/*241_3*/

#wrapper_3 {
    width: 700px;
    margin: 0 auto;
}
#wrapper_3 h1 {
    font: 30px "Times New Roman";
    text-align: center;
}
#wrapper_3 a {
    color: blue;
    text-decoration: none;
}
#wrapper_3 a:hover {
    text-decoration: underline;
}

#wrapper_3 div {
    margin-bottom: 20px;
    border: 1px solid #707070;
    padding: 20px;
}
#wrapper_3 p {
    margin: 10px 0;
    text-align: justify;
}
#wrapper_3 p.more {
    text-align: right;
    padding-right: 20px;
}